<div class="grid grid-flow-row md:grid-cols-2 h-screen">
  <div class="bg-[#FCA311] flex flex-col gap-4 justify-center ps-28">
    <h1 class="text-blue-100 text-3xl font-bold">Task Management</h1>
    <p class="max-w-md text-blue-300 text-xl">
      A Task Management Application that allows users to manage their tasks.
      Register and login to get started
    </p>
  </div>
  <div class="flex w-full justify-center items-center">
    <div class="w-1/2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
